<h1> Exploração de dados abertos: Preços de remédios</h1>

In [1]:

import pandas as pd

remedios = pd.read_csv(
    'TA_PRECOS_MEDICAMENTOS.csv', 
    delimiter="|", 
    decimal=",", 
    encoding="latin1",
    header=None,
    error_bad_lines=False,
    low_memory=False)

Head dos 5 primeiros registro da tabela com todos as colunas

In [2]:
remedios.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NU_CNPJ,NO_RAZAO_SOCIAL,NU_REGISTRO,CO_GGREM,CO_EAN,NO_PRODUTO,DS_APRESENTACAO,DS_CAS,DS_SUBSTANCIA,TP_PRODUTO,TP_LCCT,ST_REST_HOSP,ST_CAP,ST_CONFAZ87,NU_PF0_INTEIRO,NU_PF18_INTEIRO
1,60726692000181,MARJAN INDÚSTRIA E COMÉRCIO LTDA,1015501950021,524801802112410,7896226102634,OSTENAN,10 MG COMP REV CX COM 30,121268-17-5,ALENDRONATO DE SÓDIO TRI-HIDRATADO,4,N,N,N,N,NaN,76
2,60726692000181,MARJAN INDÚSTRIA E COMÉRCIO LTDA,1015501950072,524801801116412,7896226102627,OSTENAN,10 MG COMP REV CX COM 15,121268-17-5,ALENDRONATO DE SÓDIO TRI-HIDRATADO,4,N,N,N,N,NaN,38
3,04038750000103,LIBRA COMERCIO DE PRODUTOS FARMACEUTICOS LTDA,1206900220020,523803802154416,7730711011233,TEICOPLANINA,400 MG PÓ LIOFILIZADO SOL INJ CX C/ 1 FR/AMP X...,99999-99-9,NC/NI,1,I,N,N,N,0,296
4,60726692000181,MARJAN INDÚSTRIA E COMÉRCIO LTDA,1015500410028,524800102133425,7896226100449,AMBROTEN,XPE ADU FR COM 100ML,18683-91-5,ambroxol,4,N,N,N,N,0,13

<b>número e nome das colunas <b>

In [3]:
remedios.iloc[0]

0             NU_CNPJ
1     NO_RAZAO_SOCIAL
2         NU_REGISTRO
3            CO_GGREM
4              CO_EAN
5          NO_PRODUTO
6     DS_APRESENTACAO
7              DS_CAS
8       DS_SUBSTANCIA
9          TP_PRODUTO
10            TP_LCCT
11       ST_REST_HOSP
12             ST_CAP
13        ST_CONFAZ87
14     NU_PF0_INTEIRO
15    NU_PF18_INTEIRO
Name: 0, dtype: object

In [4]:
remedios.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], dtype='int64')

In [5]:
remediosA = pd.DataFrame(remedios,columns=[5,8,9,14,15])
remediosA.columns = ['Nome do produto', 'Substância', 'Tipo de medicamento','NU_PF0_INTEIRO','NU_PF18_INTEIRO']

Tabela reduzida a: <b>nome do produto, Nome da Substância, Tipo do produto, preço Fábrica de teto permitido para a comercialização com isenção do imposto de ICMS e preço Fábrica de teto permitido para a comercialização sem isenção do imposto de
ICMS.   <b>

In [6]:
remediosA.head(8)

,Nome do produto,Substância,Tipo de medicamento,NU_PF0_INTEIRO,NU_PF18_INTEIRO
0,NO_PRODUTO,DS_SUBSTANCIA,TP_PRODUTO,NU_PF0_INTEIRO,NU_PF18_INTEIRO
1,OSTENAN,ALENDRONATO DE SÓDIO TRI-HIDRATADO,4,NaN,76
2,OSTENAN,ALENDRONATO DE SÓDIO TRI-HIDRATADO,4,NaN,38
3,TEICOPLANINA,NC/NI,1,0,296
4,AMBROTEN,ambroxol,4,0,13
5,OXALIPLATINA,NC/NI,1,0,1187
6,LIBRACTAM,NC/NI,4,0,0
7,LIBRATECAM,NC/NI,4,0,0

In [9]:
listaNomes = remediosA['Nome do produto'].unique()
listaSubstancia = remediosA['Substância'].unique()

print(listaNomes,listaSubstancia)

['NO_PRODUTO' 'OSTENAN' 'TEICOPLANINA' ..., 'DIPRIVAN' 'SOLU-MEDROL'
 'ANDES'] ['DS_SUBSTANCIA' 'ALENDRONATO DE SÓDIO TRI-HIDRATADO' 'NC/NI' ...,
 'NUSINERSENA' 'cloridrato de metformina;SAXAGLIPTINA'
 'hidroxizina;dicloridrato de hidroxizina;CLORIDRATO DE HIDROXIZINA']

<H2><i> quantidade de medicamentos fitoterápicos registrados<i></H2>

In [16]:
fitoterapicos = remediosA[(remediosA['Tipo de medicamento']=='9')]
len(fitoterapicos['Nome do produto'].unique())

281

In [17]:
fitoterapicos.head(7)

,Nome do produto,Substância,Tipo de medicamento,NU_PF0_INTEIRO,NU_PF18_INTEIRO
23,ALCAFLOR,NC/NI,9,0,18
184,CHOPHYTOL,NC/NI,9,0,44
186,BINKO,NC/NI,9,0,43
269,LEVEDO,sulfato ferroso,9,0,9
273,VALERIN,NC/NI,9,0,27
275,LECITINA DE SOJA,lecitina de soja,9,0,21
279,GINSENG,NC/NI,9,0,17

<H2><i> quantidade de radiofármacos registrados <i></H2>

In [12]:
radiofarmacos = remediosA[(remediosA['Tipo de medicamento']=='10')]
len(radiofarmacos['Nome do produto'].unique())

1

In [13]:
radiofarmacos.head()

,Nome do produto,Substância,Tipo de medicamento,NU_PF0_INTEIRO,NU_PF18_INTEIRO
43581,XOFIGO,cloreto de rádio (223 Ra),10,NaN,18642
46608,XOFIGO,cloreto de rádio (223 Ra),10,NaN,18896

<H2><i> quantidade de Genéricos registrados <i></H2>

In [26]:
genericos = remediosA[(remediosA['Tipo de medicamento']=='1')]
len(genericos['Nome do produto'].unique())

1054

In [33]:
genericos.head(10)

,Nome do produto,Substância,Tipo de medicamento,NU_PF0_INTEIRO,NU_PF18_INTEIRO
3,TEICOPLANINA,NC/NI,1,0,296
5,OXALIPLATINA,NC/NI,1,0,1187
11,TEICOPLANINA,NC/NI,1,0,148
12,OXALIPLATINA,NC/NI,1,0,2374
14,PACLITAXEL,NC/NI,1,0,4122
15,PACLITAXEL,NC/NI,1,0,1389
98,DOCETAXEL,NC/NI,1,0,2121
103,MEBENDAZOL,mebendazol,1,0,0
106,ATENOLOL,atenolol,1,0,19
124,CITRATO DE SILDENAFILA,citrato de sildenafila,1,NaN,24

In [34]:
tiposderemedio = ['GENÉRICO','PATENTE', 'REFERÊNCIA', 'SIMILAR', 'NOVO', 'ESPECÍFICO', 'BIOLÓGICOS','DINAMIZADO','FITOTERÁPICO' , 'RADIOFÁRMACO', 'BIOLÓGICOS NOVOS']

<h3><b> Tipos de medicamentos<b></h3> <h4>Iniciando a renomeação da coluna 10 'Tipo de medicamento' </h4>

In [35]:
tiposderemedio

['GENÉRICO',
 'PATENTE',
 'REFERÊNCIA',
 'SIMILAR',
 'NOVO',
 'ESPECÍFICO',
 'BIOLÓGICOS',
 'DINAMIZADO',
 'FITOTERÁPICO',
 'RADIOFÁRMACO',
 'BIOLÓGICOS NOVOS']

In [36]:
remediosA['nome do tipo']=tiposderemedio[(remediosA['Tipo de medicamento']=='1')]

In [39]:
remediosA.head(7)

,Nome do produto,Substância,Tipo de medicamento,NU_PF0_INTEIRO,NU_PF18_INTEIRO,nome do tipo
0,NO_PRODUTO,DS_SUBSTANCIA,TP_PRODUTO,NU_PF0_INTEIRO,NU_PF18_INTEIRO,0
1,OSTENAN,ALENDRONATO DE SÓDIO TRI-HIDRATADO,4,NaN,76,0
2,OSTENAN,ALENDRONATO DE SÓDIO TRI-HIDRATADO,4,NaN,38,0
3,TEICOPLANINA,NC/NI,1,0,296,0
4,AMBROTEN,ambroxol,4,0,13,0
5,OXALIPLATINA,NC/NI,1,0,1187,0
6,LIBRACTAM,NC/NI,4,0,0,0